@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,900;1,400;1,500;1,900&family=Titan+One&display=swap");
.header__date, .header__desc, .header__subtitle, .header__title {
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.header__subtitle, .header__title {
  font-family: "Press Start 2P", cursive;
  font-weight: bolder;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 4px -1px 0 #0dfcfe, -4px 1px 0 #ff00fd;
  text-shadow: 6px -2px 0 #ff7784, -6px 2px 0 #ffffff;
  word-wrap: break-word;
  width: 100%;
  text-align: center;
  color: #7198ff;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.header__subtitle:hover, .header__title:hover {
  text-shadow: 0 0 0 #000, 0 0 0 #000;
}

.footer, .main, .header {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  position: relative;
  color: #000;
  padding: 16px;
  background-image: url(./images/background3.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.5);
}

.header__title-wrap {
  padding: 12px 0;
}

.header__title {
  font-size: 32px;
  margin-bottom: 8px;
}

.header__subtitle {
  font-size: 28px;
}

.header__desc {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}
.header__desc:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: rotate(-0.5deg);
  z-index: -1;
  transform-origin: center;
}

.header__date {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  width: 190px;
}
.header__date:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: rotate(0.7deg);
  z-index: -1;
  transform-origin: center;
}

.main {
  padding-top: 16px;
}
.main .main__subtitle {
  font-family: "Titan One", cursive;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  width: 100%;
  color: #ffffff;
  text-shadow: 2px -2px 0 #ff7784, -2px 2px 0 #7198ff;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.main .main__subtitle:hover {
  text-shadow: 0 0 0 #000, 0 0 0 #000;
}
.main .main__subtitle:nth-of-type(2) {
  text-align: right;
}
.main .main__paragraph {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.footer {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 28px 0;
}
.footer .footer__options {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 48px;
}
.footer .footer__option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer__text {
  margin-bottom: 4px;
  line-height: 1.4em;
  min-height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer__button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 4px solid black;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px;
}
.footer .footer__link {
  color: #000;
}
.footer .footer__emoji {
  position: relative;
  font-size: 28px;
  width: auto;
}

/*# sourceMappingURL=style.css.map */
